.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

.icon-wrapper {
  cursor: pointer;
  /* border-right: 1px black solid; */
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  color: rgb(70, 70, 70);
}

.icon-wrapper:hover {
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
}

.no-border {
  border-right: none;
}