.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

.icon-enabled {
  cursor: pointer;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  color: rgb(70, 70, 70);
}

.icon-disabled {
  cursor: default;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  color: rgb(116, 116, 116);
}

.icon-enabled:hover {
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
}
