/* TODO check positioning */
.tooltip {
  position: absolute;
  bottom: 3rem;
  font-size: 14px;
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 10rem;
  visibility: hidden;
}

@keyframes fade-in {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.tooltip-title {
  font-weight: bold;
}

.tooltip-message {
  color: gray;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 18px;
  margin: 0 25%;
  padding: 0.25rem 0;
}

.icon-enabled {
  cursor: pointer;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  color: rgb(70, 70, 70);
  border-radius: 5px;
}

.icon-disabled {
  cursor: default;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  flex-grow: 2;
  color: rgb(116, 116, 116);
}

.icon-enabled:hover {
  margin: -1px;
  border: 1px #dfe2e7 solid;
}

.icon-enabled:active {
  background-color: #e0e3e6;
}

.icon-enabled:hover .tooltip {
  visibility: visible;
  animation: fade-in 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
}
