.wrapper-view {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  flex-grow: 2;
  padding: 1rem;
  margin: 0 25%;
  /* box-sizing: border-box; */
}

/* TODO fix overflow bug */
.view-body {
  /* overflow-y: scroll; */
}