.sidebar-item{
  display: block;
  font-size: 16px;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-item:link, .sidebar-item:visited, .sidebar-item:active {
  color: #3b4045;
  text-decoration-line: none;
}

.space {
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.active {
  background-color: #e0e3e6;
}