.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 12rem;
  background-color: #f9fafb;
  border-right: 1px #eceeef solid;
  overflow: scroll;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 40px; */
  box-sizing: border-box;
  font-size: 18px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-top: 1px #eceeef solid;
}

.sidebar-footer button {
  display: flex;
  font-size: 18px;
  align-items: center;
  background-color: #f9fafb;
}

.sidebar-button-text {
  font-size: 14px;
  margin-left: 0.25rem;
}

.sidebar-preferences:hover .tooltip {
  visibility: visible;
  animation: fade-in 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
}


.new-list-menu {
  position: absolute;
  bottom: 50px;
  left: 1rem;
  padding: 0.5rem;
  background-color: #2c3239;
  min-width: max-content;
}

.new-list-menu-item {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  user-select: none;
}

.separator-line {
  border-top: 1px solid gray;
  margin: 0.25rem 0;
}

.new-list-menu-item:hover {
  background-color: #509cff;
}

.new-list-menu-item h3 {
  font-weight: bold;
  color: white;
  margin: 0;
}

.new-list-menu-item p {
  color: darkgray;
  margin: 0;
}