.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 12rem;
  background-color: #F7F8F9;
  overflow: scroll;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}