.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 12rem;
  background-color: #f9fafb;
  border-right: 1px #eceeef solid;
  overflow: scroll;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 40px; */
  box-sizing: border-box;
  font-size: 18px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-top: 1px #eceeef solid;
}

.sidebar-footer button {
  display: flex;
  font-size: 18px;
  align-items: center;
  background-color: #f9fafb;
}

.sidebar-button-text {
  font-size: 14px;
  margin-left: 0.25rem;
}

.sidebar-preferences:hover .tooltip {
  visibility: visible;
  animation: fade-in 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
}