@keyframes fade-in {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

.footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 18px;
  margin: 0 25%;
  padding: 0.25rem 0;
}

#footer {
  border-top: 1px #eceeef solid;
}

.icon-enabled {
  cursor: pointer;
  padding: 0.25rem;
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  color: #64696E;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: white;
}

.icon-disabled {
  cursor: default;
  padding: 0.25rem;
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  color: #ccced1;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: white;
}

.icon-enabled:hover {
  border: 1px solid #dfe2e7;
}

.icon-enabled:active {
  background-color: #e0e3e6;
}

.icon-enabled:hover .tooltip {
  visibility: visible;
  animation: fade-in 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
}
